.title-page {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  h1 {
    font-size: 4rem;
    background-color: #0000009c;
    width: 100vw;
    padding: 40px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .btn-option {
    background-color: rgb(27, 27, 27);
    text-transform: none;
    width: 300px;
    font-size: 20px;
    color: #FFF;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
